<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Customer Satisfaction Survey · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/common.css" rel="stylesheet">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">Customer Satisfaction Survey</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/createSurvey">Create Survey<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/submitSurvey">Submit Survey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/surveyAnswers">Survey Answers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/surveyTopics">Survey Topics</a>
        </li>
    </ul>
</nav>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <form style="position: center">
                <button style="display: inline" class="btn btn-secondary my-2" type="submit">Create Survey</button>
            </form>
        </div>
    </section>
</main>

</body>

<footer class="text-muted" id="footer">
<div class="container">
    <p>Customer Satisfaction Survey &copy; Bootstrap</p>
</div>
</footer>
</html>