<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Customer Satisfaction Survey · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/common.css" rel="stylesheet">
    <script src="submitSurvey.js"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">Customer Satisfaction Survey</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createSurvey">Create Survey</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/submitSurvey">Submit Survey<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/surveyAnswers">Survey Answers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/surveyTopics">Survey Topics</a>
        </li>
    </ul>
</nav>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <div style="margin-bottom: 10px" id="allTopics"></div>
            <div style="margin-bottom: 10px" id="topic"></div>
            <div style="margin-bottom: 10px" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button onclick="setScore(0);" type="button" class="btn btn-secondary">0</button>
                    <button onclick="setScore(1);" type="button" class="btn btn-secondary">1</button>
                    <button onclick="setScore(2);" type="button" class="btn btn-secondary">2</button>
                    <button onclick="setScore(3);" type="button" class="btn btn-secondary">3</button>
                    <button onclick="setScore(4);" type="button" class="btn btn-secondary">4</button>
                    <button onclick="setScore(5);" type="button" class="btn btn-secondary">5</button>
                    <button onclick="setScore(6);" type="button" class="btn btn-secondary">6</button>
                    <button onclick="setScore(7);" type="button" class="btn btn-secondary">7</button>
                    <button onclick="setScore(8);" type="button" class="btn btn-secondary">8</button>
                    <button onclick="setScore(9);" type="button" class="btn btn-secondary">9</button>
                    <button onclick="setScore(10);" type="button" class="btn btn-secondary">10</button>
                </div>
            </div>
            <div style="margin-bottom: 10px" id="question"></div>
            <div style="margin-bottom: 10px" class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Answer</span>
                </div>
                <textarea id="answerInput" class="form-control" aria-label="Answer"></textarea>
            </div>
            <div style="margin-bottom: 10px">
                <button onclick="submitSurvey()" class="btn btn-secondary my-2" type="submit">Submit Survey</button>
            </div>
        </div>
    </section>
</main>

</body>
<footer class="text-muted" id="footer">
    <div class="container">
        <p>Customer Satisfaction Survey &copy; Bootstrap</p>
    </div>
</footer>
</html>